<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<link rel="stylesheet" type="text/css" href="css/about.css">
</head>
<body>
	<header>
		<h1>About Us</h1>
		<h2><a href="http://localhost:3000/" target="_self">Home</a></h2>
	</header>
	<main>
		<section id="about">
			<div class="person">
				<img src="img/Sahil.jpeg" alt="Person 1">
				<h2>Sahil Mandhare</h2>
				<p>Position: Web-Designer</p>
				<p>Desgined Front End And Connectivity.</p>
			</div>
			<div class="person">
				<img src="img/Kuldeep" alt="Person 2">
				<h2></h2>
				<p>Position: COO</p>
				<p>Jane is the chief operating officer of our company. She has a degree in operations management and has been with our company for over 5 years.</p>
			</div>
			<div class="person">
				<img src="img/Kuldeep 1.jpeg" alt="Person 3">
				<h2>Kuldeep Aher</h2>
				<p>Position: DataBase Designer</p>
				<p>Desined Database And React Connectivity</p>
			</div>
			<div class="person">
				<img src="img/swamp.jpeg" alt="Person 4">
				<h2>Emily Davis</h2>
				<p>Position: CMO</p>
				<p>Emily is the chief marketing officer of our company. She has a degree in marketing and has been with our company for over 4 years.</p>
			</div>
			<div class="person">
				<img src="img/Shrirang.jpeg" alt="Person 5">
				<h2>Shrirang</h2>
				<p>Position: CTO</p>
				<p>Michael is the chief technology officer of our company. He has a degree in computer science and has been with our company for over 6 years.</p>
			</div>
		</section>
	</main>
</body>
</html>
